$backgorundtheme : #fcde67;
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
    background-color: $backgorundtheme;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}